<!DOCTYPE html>
<html lang="en">
<head>

{% load static %}

    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/static_dirs/CSS/Collection_View.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!--
<h1>{{ title }}</h1>
<p><div>{{ photo }}</div></p>
<P>{{ description }}</P>
<h3>{{ size }}</h3>
<h4>{{ price }}</h4>
<h5>{{ category }}</h5>
-->
<div class="container-fluid"><ul>
    {% for product in object %}
        <li style="list-style-type: none"><img src="{{ product.photo.url }}" class="">{{ product.title }}</li>
    {% endfor %}


            </ul></div>



<body>
</body>
</html>